<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Inception</title>
</head>
<body>
    <style>
        body{
            background-color: #2E4053;
        }
    </style>
   <a href="/homepage">
    <i class="fa fa-arrow-circle-left" style="font-size:48px;color: cornflowerblue;margin-left: 30px;margin-top: 30px;"></i></a>
    
    <b><u><center><h1 style="margin-top: -30px;">Inception-V3 Model</h1></center></u></b><br><br>
    <center><img src="{{ url_for ('static', filename='inception.png')}}" width="1150px" height="500px"></center>
    <p style="font-size: 24px;margin-left: 100px;">Inception-v3 is a convolutional neural network architecture from the Inception 
        family that makes several improvements including using Label Smoothing, Factorized 7 x 7 convolutions, and the use of an
         auxiliary classifer to propagate label information lower down the network (along with the use of batch normalization for
          layers in the sidehead).</p>
</body>
</html>